<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <style>
        .registration-box {
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }
    </style>
</head>
<body>

<div class="registration-box">
    <h2>Регистрация</h2>
    <form action="/register" method="post">
        <label for="username">Логин:</label>
        <input type="text" name="username" required>
        <br><br>

        <label for="name">Имя:</label>
        <input type="text" name="name" required>
        <br><br>

        <label for="dob">Дата рождения:</label>
        <input type="date" name="dob" required>
        <br><br>

        <label for="password">Пароль:</label>
        <input type="password" name="password" required>
        <br><br>

        <label for="password-repeat">Повторить пароль:</label>
        <input type="password" name="password-repeat" required>
        <br><br>

        <input type="submit" value="Зарегистрироваться">
    </form>
</div>

</body>
</html>
